# Rename this file to .env and input correct values to use
APP_ID=xxx
REACT_APP_API_BASE_URL=

# This is a trick to make scripts work in deployment
# before: `/assets/main.js` after `./assets/main.js`
PUBLIC_URL=./
